<ion-view title="Incorrect" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="incorrect3-heading6" style="color:#000000;text-align:right;" class=" ">100</h1>
        <p id="incorrect3-markdown5" style="color:#000000;text-align:right;" class=" ">For how long was Odysseus away from his home at Ithica?</p>
        <ion-list id="incorrect3-list3" class=" ">
            <ion-item id="incorrect3-list-item18" class="  answer_a">One month</ion-item>
            <ion-item id="incorrect3-list-item19" class="  answer_b">One year</ion-item>
            <ion-item class="item-icon-left assertive  answer_c" id="incorrect3-list-item20">
                <i class="icon ion-ios-close-empty"></i>Ten years</ion-item>
            <ion-item class="balanced  answer_d" id="incorrect3-list-item21" href="tel:">Twenty years</ion-item>
            <ion-item id="incorrect3-list-item22" class="  answer_e">Forty years</ion-item>
        </ion-list>
    </ion-content>
</ion-view>