<ion-view title="The Odyssey" id="page3" style="background-color:#4583FB;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="theOdyssey-card21">
            <ion-item class="positive  " id="theOdyssey-list-item1">Category 1</ion-item>
            <div id="theOdyssey-button-bar1" class=" button-bar ">

                <!--This line is the line I'm trying to link with-->
                <a ui-sref="category1100" id="theOdyssey-button10" class=" button button-positive  button-block button-clear ">QUESTION</a>

                <!-- added as a test. It works-->
                <a ui-sref="library" id="theOdyssey-button11" class=" button button-positive  button-block button-clear ">LIBRARY</a>








            </div>
            <div id="theOdyssey-button-bar2" class=" button-bar ">
                <button id="theOdyssey-button13" class=" button button-positive  button-block button-clear ">300</button>
                <button id="theOdyssey-button14" class=" button button-positive  button-block button-clear ">400</button>
            </div>
        </div>
        <div class="list card " id="theOdyssey-card22">
            <ion-item class="positive  " id="theOdyssey-list-item4">Category 2</ion-item>
            <div id="theOdyssey-button-bar3" class=" button-bar ">
                <button id="theOdyssey-button15" class=" button button-positive  button-block button-clear ">100</button>
                <button id="theOdyssey-button16" class=" button button-positive  button-block button-clear ">200</button>
            </div>
            <div id="theOdyssey-button-bar4" class=" button-bar ">
                <button id="theOdyssey-button18" class=" button button-positive  button-block button-clear ">300</button>
                <button id="theOdyssey-button19" class=" button button-positive  button-block button-clear ">400</button>
            </div>
        </div>
        <div class="list card " id="theOdyssey-card23">
            <ion-item class="positive  " id="theOdyssey-list-item5">Category 3</ion-item>
            <div id="theOdyssey-button-bar5" class=" button-bar ">
                <button id="theOdyssey-button20" class=" button button-positive  button-block button-clear ">100</button>
                <button id="theOdyssey-button21" class=" button button-positive  button-block button-clear ">200</button>
            </div>
            <div id="theOdyssey-button-bar6" class=" button-bar ">
                <button id="theOdyssey-button22" class=" button button-positive  button-block button-clear ">300</button>
                <button id="theOdyssey-button23" class=" button button-positive  button-block button-clear ">400</button>
            </div>
        </div>
        <div class="list card " id="theOdyssey-card24">
            <ion-item class="positive  " id="theOdyssey-list-item6">Category 4</ion-item>
            <div id="theOdyssey-button-bar7" class=" button-bar ">
                <button id="theOdyssey-button24" class=" button button-positive  button-block button-clear ">100</button>
                <button id="theOdyssey-button25" class=" button button-positive  button-block button-clear ">200</button>
            </div>
            <div id="theOdyssey-button-bar8" class=" button-bar ">
                <button id="theOdyssey-button26" class=" button button-positive  button-block button-clear ">300</button>
                <button id="theOdyssey-button27" class=" button button-positive  button-block button-clear ">400</button>
            </div>
        </div>
        <div class="list card " id="theOdyssey-card25">
            <ion-item class="positive  " id="theOdyssey-list-item7">Category 5</ion-item>
            <div id="theOdyssey-button-bar9" class=" button-bar ">
                <button id="theOdyssey-button28" class=" button button-positive  button-block button-clear ">100</button>
                <button id="theOdyssey-button29" class=" button button-positive  button-block button-clear ">200</button>
            </div>
            <div id="theOdyssey-button-bar10" class=" button-bar ">
                <button id="theOdyssey-button30" class=" button button-positive  button-block button-clear ">300</button>
                <button id="theOdyssey-button31" class=" button button-positive  button-block button-clear ">400</button>
            </div>
        </div>
    </ion-content>
</ion-view>